.header-warning{
    background-color:#28a745;
    color: #ffffff;
    padding: 16px 0px;
    text-align: center;
}

.header-warning span{
    font-weight: bold;
}
header{
    background-color:rgba(199, 241, 209, 0.932) ;
}


header .header-main{
    max-width: 1024px;
    margin: auto;
    padding: 33px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    }

    .header-left{
        display: flex;
        align-items: center;
    }

    .header-left .logo{
        margin: 40px;
    }

    .header-left ul{
        display: none;
        gap: 40px;
    }

    .header-left li a{
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

    .header-left li a:hover{
        
        color:white;
        
    }

    .header-right{
       display: flex;
       align-items: center;
       gap: 16px;
    }

    .header-right .search,
    .header-search .search{
        display:none;
        width: 190px;
        height: 48px;
        border: 1px solid #d9d9d9;
        background-color: beige;
        font-size: 1.6rem;
        outline: none;
        padding-left: 39px;
        padding-right: 16px;
        background-image:url(../ui/search.png);
        background: no-repeat;
        background-size: 24px 24px;
        background-position: 10px center;
        color: black;
        font-weight: bold;
      }

      .header-search{
        padding:0 24px 24px 24px ;
      }

.header-search .search {
    display: flex;
    width: 100%;
}

.header-menu{
    padding-bottom: 32px;
}
.header-menu a{
    display: block;
    text-decoration: none;
    color: black;
    font-size:1.9rem ;
    padding: 24px 32px;
    font-weight: bold;
    border-bottom: 1px solid #d9d9d9;
    background-image:url(../ui/arrow-up-right.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: right 32px center;
}

.header-menu a:last-child {
border-bottom: none;
}

   .btn-icon {  
    width: 48px;
    height: 48px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .btn-icon img{
    width: 24px;
    height: 24px;
   }

   .btn-icon:hover{
     background-color: #ffffffe7;
   }


.header-warning .dekstop{
    display: none;
}

@media (width > 714px){
    .header-warning .dekstop{
        display: block;
    }

    .header-warning .mobile{
        display: none;
    }

    .mobile{
        white-space: nowrap;
        width: 100%;
        font-size: 24px;
        display: inline-block;
        animation: dekstop 35s linear infinite;
    }
    @keyframes mobile {
        0%{
            transform: translateX(100%);
        }
        100%{
            transform: translateX( - 100%);
        }
    }
    
    
}


@media (width > 1024px){
    .header-search{
        display: none;
      }

    .header-left ul{
        display:flex;
    }

    .header-right .search{
        display: block;
}

    .header-right .menu-burger{
        display: none;
    }
    
    .dekstop{
        white-space: nowrap;
        width: 100%;
        font-size: 24px;
        display: inline-block;
        animation: dekstop 35s linear infinite;
    }
    @keyframes dekstop{
        0%{
            transform: translateX(100%);
        }
        100%{
            transform: translateX( - 100%);
        }
    }
}